# Python Data Science Bite-Sized Lesson:<br>Introduction to Pandas and Matplotlib

**Author**: Michelle Franc Ragsac (mragsac@eng.ucsd.edu)

---

**Notebook Information:**

This Jupyter Notebook contains information on the basic functionality of the `pandas` and `matplotlib` packages in Python for Module 4: Introduction to HPC. <br>It's running with a `Python 3` kernel! 

---

## Import Necessary Packages for the Module

Before we start coding, we want to import the `modules` that we'll be using in our notebook. This is the same as importing the modules at the beginning of a Python script. 

For the three packages we'll be going through for this series of notebooks, they have different conventions for how they're called in people's code. The shorthand for `numpy` is `np`, `pandas` is `pd`, and `matplotlib.pyplot` is `plt`. If you find any code online (e.g., through StackOverflow) and you see these terms, these are the packages they're usually referring to!

In [1]:
import numpy as np                 # adds support for large, multi-dimensional arrays and optimized linear alg 
import pandas as pd                # adds support for Excel-like table operations (i.e. R Data Frames)
import matplotlib.pyplot as plt    # adds support for plotting in Python

In addition to importing these packages, there is a special line that we can add to view any plots generated with `matplotlib` within our notebook as part of the output of a code cell! 

This special line is called a "magic function"! 

**Documentation on Magic Functions in Jupyter Notebooks**: https://ipython.readthedocs.io/en/stable/interactive/magics.html

In [2]:
%matplotlib inline

---

## Introduction to Pandas

Pandas is an open-source data analysis package in Python that aids in data analysis and manipulation using `DataFrame` and `Series` objects. These `DataFrame` objects can be thought of as multidimensional arrays with attached row and column tables, similar to the tables found in Excel Spreadsheets or `data.frame` objects in the R Programming Language. The `Series` objects can be thought of as a single column with connected row and column labels. Pandas also has tools for reading and writing data between in-memory structures and different commonly-used formats, such as CSV, text files, Microsoft Excel sheets, SQL databases, and the HDF5 format. 

<div class="alert alert-block alert-info">
    <b>Note:</b> This notebook contains a <strong>very brief</strong> introduction to the Pandas package in Python and is nowhere near comprehensive! I encourage you to look up other tutorials online if you want to delve in deeper and unlock Pandas' full potential for your analyses! 
</div>

**Pandas Website**: https://pandas.pydata.org/
<br>**Pandas Code Base on GitHub**: https://github.com/pandas-dev/pandas

---

## Creating a Pandas `DataFrame` from Scratch

To start off, we'll learn how to create a `DataFrame` object from scratch. This is an important skill to learn as it helps you test new methods and functions you might find in the Pandas documentation. One of the easisest ways to create a `DataFrame` from scratch is to use a `dict` object. 

<div class="alert alert-block alert-info">
    <b>Note:</b> Dictionaries (<code>dict</code>) are a hash table sstructure that is built into Python. They're unordered collections of items where each item has an associated key-value pairing. Dictionaries are optimized to retrieve values when a key is provided. 
</div>

In [6]:
# Create a dictionary called data and populate each key with its values (key : value)
data = {
    'tacos': [1, 3, 2],
    'burritos': [1, 1, 2]
}

# Create a list called names containing what we want to label our indices in our dataframe
names = ['Michelle', 'Cameron', 'Owen']

# Pass the dictionary to the DataFrame constructor to create a dataframe called purchases
purchases = pd.DataFrame(data, index=names)
purchases # preview the dataframe in the notebook

          tacos  burritos
Michelle      1         1
Cameron       3         1
Owen          2         2

Now, we have a `DataFrame` object called `puchases` containing a table of how many `burritos` and `tacos` each person purchased!

## Selecting Rows in a `DataFrame` Based on its Index Value

Say we wanted to know how many `tacos` and `burritos` Cameron purchased. We can select rows within the `DataFrame` object using the `loc()` method:

In [7]:
purchases.loc['Cameron']

tacos       3
burritos    1
Name: Cameron, dtype: int64

From this command, we can see that Cameron purchased three `tacos` and one `burrito`!

## Selecting Columns in a `DataFrame` Based on its Column Value

Alternatively, say we wanted to know how many `tacos` were purchased amongst all of our customers. We can select columns within the `DataFrame` object with the following syntax: 

```python
df[COLUMN_NAME]
```

Where `df` represents the name of the `DataFrame` we would like to interact with, and `COLUMN_NAME` represents the column that we want to index. 

Within our example, let's see how many tacos were purchased amongst all of our customers:

In [9]:
purchases['tacos']

Michelle    1
Cameron     3
Owen        2
Name: tacos, dtype: int64

This output shows us that Michelle purchased a single taco, Cameron purchased three tacos, and Owen purchased two tacos! 

Notice that the output also gives us the name of the column that we selected (`tacos`), as well as the type of the values within the column (`int64`).

---

## The First Steps: Reading in Data into a `DataFrame` Object

Sometimes, the data that you want to look at with Pandas is stored as a CSV file, or a Microsoft Excel document, or even a SQL database! Regardless of the data storage format, to manipulate data with Pandas `DataFrame`s, the first step is to import the data into a data structure that is compatible with Pandas. 

Within this notebook, we'll be importing a CSV file containing nutritional data on 80 different breakfast cereals using the `read_csv()` method! This dataset was uploaded to the Kaggle website by user Chris Crawford, and the data was gathered and cleaned by Petra Isenberg, Pierre Dragicevic, and Yvonne Jansen. We'll be using this dataset as we learn about some of Pandas' basic functionality.

<div class="alert alert-block alert-info">
    <b>Note:</b> Kaggle (<a href="https://www.kaggle.com/">https://www.kaggle.com/</a>) is a large data science and machine learning community! It allows users to find and publish data sets, explore and build models in a web-based data science environment, and work with other data scientists and machine learning engineers. It's most well known for its online data science competitions where users can solve data science challenges that are provided by individuals or large companies.
</div>

**Input/Output Pandas Documentation**: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

**80 Cereals Kaggle Page**: https://www.kaggle.com/crawford/80-cereals/home
<br>**80 Cereals Project Website**: https://perso.telecom-paristech.fr/eagan/class/igr204/datasets

In [10]:
# First, we'll use the read_csv() method to read int the cereals dataset into a dataframe called df 
path_to_file = 'data/cereal.csv'
df = pd.read_csv(path_to_file)

### Previewing the Data with the `head()` and `tail()` Methods

After reading in our data, one of the first things I like to do is to preview the raw data within the `DataFrame`. 

Personally, I like to do this to make sure that I read in the data properly and everything looks like how I would expect it to import (e.g., everything isn't all in one column, etc.).

In [11]:
# Next, we'll preview the first few rows of the data frame using the method head()
df.head()

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
0,100% Bran,Nabisco,Cold,70,4,1,130,10.0,5.0,6,280,25,1.0,0.33,68.402973
1,100% Natural Bran,Quaker Oats,Cold,120,3,5,15,2.0,8.0,8,135,0,1.0,1.00,33.983679
2,All-Bran,Kelloggs,Cold,70,4,1,260,9.0,7.0,5,320,25,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,Kelloggs,Cold,50,4,0,140,14.0,8.0,0,330,25,1.0,0.50,93.704912
4,Almond Delight,Ralston Purina,Cold,110,2,2,200,1.0,14.0,8,-1,25,1.0,0.75,34.384843

As we can see from this preview from the `head()` method, this dataset contains several fields. I retrieved the field information from the Kaggle page for this dataset: 

| Field Name     | Description                          | Field Name | Description                                | Field Name | Description                                             |
|----------------|--------------------------------------|------------|--------------------------------------------|------------|---------------------------------------------------------|
| `name`         | Name of the cereal                   | `fat`      | Grams of fat per serving                   | `vitamins` | typical percentage of FDA-recommended vitamins/minerals |
| `manufacturer` | Manufacturer of the cereal           | `sodium`   | Milligrams of sodium per serving           | `shelf`    | display shelf (`1`, `2`,  or `3` from the floor)        |
| `type`         | Type of the cereal (`Cold` or `Hot`) | `fiber`    | Grams of dietary fiber per serving         | `weight`   | weight in ounces of one serving                         |
| `calories`     | Calories per serving                 | `carbo`    | Grams of complex carbohydrates per serving | `cups`     | number of cups in one serving                           |
| `protein`      | Grams of protein per serving         | `sugars`   | Grams of sugars per serving                | `rating`   | rating of the cereals                                   |

Alternatively, we can also use the `tail()` method to preview the **end** of the `DataFrame` (versus the **beginning** of the `DataFrame`).

In [12]:
# Preview the last few rows of the dataframe using the method tail()
df.tail()

,name,manufacturer,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,weight,cups,rating
72,Triples,General Mills,Cold,110,2,1,250,0.0,21.0,3,60,25,1.0,0.75,39.106174
73,Trix,General Mills,Cold,110,1,1,140,0.0,13.0,12,25,25,1.0,1.00,27.753301
74,Wheat Chex,Ralston Purina,Cold,100,3,1,230,3.0,17.0,3,115,25,1.0,0.67,49.787445
75,Wheaties,General Mills,Cold,100,3,1,200,3.0,17.0,3,110,25,1.0,1.00,51.592193
76,Wheaties Honey Gold,General Mills,Cold,110,2,1,200,1.0,16.0,8,60,25,1.0,0.75,36.187559

<div class="alert alert-block alert-info">
    <b>Note:</b> For the <code>head()</code> and <code>tail()</code> methods, you can input the number of lines you would like to preview from the beginning or end of the <code>DataFrame</code>, respectively. As an example, the <code>df.head(17)</code> command would preview the first seventeen lines of the <code>DataFrame</code> called <code>df</code>; likewise, the command <code>df.tail(23)</code> would view the last twenty-three lines. 
</div>

### Viewing the Shape of a `DataFrame` with the `shape` Attribute

After reading in a dataset and making sure that everything was properly imported with the `head()` and/or `tail()` commands, I like to view the dimensions of the dataset using the `shape` attribute!

In [14]:
# Show the shape of the dataframe using shape 
df.shape

(77, 15)

From this result, we can see that there are `77` rows and `15` columns within the 80 Cereals dataset! Or, I guess we should say 77 cereals?

### Getting Info About the `DataFrame` with the `info()` Method 

Another method that I like to run when I first open a `DataFrame` is the `info()` method in order to get a quick summary about all of the entries within the `DataFrame`, along with their recognized data types. In particular, this method provides the number of rows and columns, the number of non-null values, what type of data is in each column, and how much memory the `DataFrame` uses.

In [13]:
# Let's try running the info method on the 80 cereals dataset! 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          77 non-null     object
 1   manufacturer  77 non-null     object
 2   type          77 non-null     object
 3   calories      77 non-null     int64
 4   protein       77 non-null     int64
 5   fat           77 non-null     int64
 6   sodium        77 non-null     int64
 7   fiber         77 non-null     float64
 8   carbo         77 non-null     float64
 9   sugars        77 non-null     int64
 10  potass        77 non-null     int64
 11  vitamins      77 non-null     int64
 12  weight        77 non-null     float64
 13  cups          77 non-null     float64
 14  rating        77 non-null     float64
dtypes: float64(5), int64(7), object(3)
memory usage: 9.1+ KB

After running the `info()` method on our dataset, we can see that we don't have any null values within the data frame!

---